In [1]:
from __future__  import print_function, division
import pandas as pd
import os
from math import sqrt
os.environ["PUIDATA"] = "%s//Desktop/PUI/PUIDATA"%os.getenv("HOME")

In [2]:
!curl https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt>zscore.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1179  100  1179    0     0    629      0  0:00:01  0:00:01 --:--:--   629

In [3]:
!mv zscore.txt $PUIDATA

In [4]:
!ls $PUIDATA

201601-citibike-tripdata.csv zscore.txt
201601-citibike-tripdata.zip

In [5]:
mta = pd.read_csv("%s/zscore.txt"%os.getenv("PUIDATA"),header=None)

## Question : Is the new Bus route improving commute?

### $H_0$: The commute time is the same or longer with the new bus route as it was before. i.e. Tnew >= Told

### $H_1$: The commute time is shorter with the new bus route. i.e.  Tnew < Told

In [6]:
mta.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [7]:
pmean = 36
pstd = 6
smean = mta.mean()
ns = len(mta)

In [8]:
zscore = (pmean - smean)/(pstd/sqrt(ns))

In [9]:
print(zscore)

0    2.556397
dtype: float64

### The zscore is 2.55 which is greater than 2. That means we are 2 $\sigma$ away from the old mean. So, we reject the null hypothesis.